<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            <h3>All Women's Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.WomenLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

            <li>...all leagues where sport is any type of hockey</li>
            <h3>All Hockey Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.HockeyLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

            <li>...all leagues where sport is something OTHER THAN football</li>
            <h3>All Non-FootBall Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.NoFootballLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

            <li>...all leagues that call themselves "conferences"</li>
            <h3>All Conference Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.ConferenceLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

            <li>...all leagues in the Atlantic region</li>
            <h3>All Atlantic Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.AtlanticLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

            <li>...all teams based in Dallas</li>
            <h3>All Dallas Teams</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var t in ViewBag.DallasTeams)
                    {
                        <tr>
                            <td>@t.Location</td>
                            <td>@t.TeamName</td>
                        </tr>
                    }
                </table>

            <li>...all teams named the Raptors</li>
            <h3>All Raptor Teams</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var t in ViewBag.RaptorTeams)
                    {
                        <tr>
                            <td>@t.Location</td>
                            <td>@t.TeamName</td>
                        </tr>
                    }
                </table>

            <li>...all teams whose location includes "City"</li>
            <h3>All City Teams</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var t in ViewBag.CityTeams)
                    {
                        <tr>
                            <td>@t.Location</td>
                            <td>@t.TeamName</td>
                        </tr>
                    }
                </table>

            <li>...all teams whose names begin with "T"</li>
            <h3>All T Teams</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var t in ViewBag.TTeams)
                    {
                        <tr>
                            <td>@t.Location</td>
                            <td>@t.TeamName</td>
                        </tr>
                    }
                </table>

            <li>...all teams, ordered alphabetically by location</li>
            <h3>All Teams Location Alphabetically</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var t in ViewBag.TeamsAlphabeticalLocation)
                    {
                        <tr>
                            <td>@t.Location</td>
                            <td>@t.TeamName</td>
                        </tr>
                    }
                </table>

            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <h3>All Teams Reverse Alphabetically</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var t in ViewBag.ReverseAlphabeticalTeams)
                    {
                        <tr>
                            <td>@t.Location</td>
                            <td>@t.TeamName</td>
                        </tr>
                    }
                </table>

            <li>...every player with last name "Cooper"</li>
            <h3>All Players with the last name "Cooper"</h3>
                <table class="table table-striped">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    @foreach(var p in ViewBag.LastNameCooper)
                    {
                        <tr>
                            <td>@p.FirstName</td>
                            <td>@p.LastName</td>
                        </tr>
                    }
                </table>

            <li>...every player with first name "Joshua"</li>
            <h3>All Players with the first name "Joshua"</h3>
                <table class="table table-striped">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    @foreach(var p in ViewBag.FirstNameJoshua)
                    {
                        <tr>
                            <td>@p.FirstName</td>
                            <td>@p.LastName</td>
                        </tr>
                    }
                </table>

            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <h3>All Players with the  last name "Cooper" EXCEPT JOSHUA!</h3>
                <table class="table table-striped">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    @foreach(var p in ViewBag.LastNameCooperNoJoshua)
                    {
                        <tr>
                            <td>@p.FirstName</td>
                            <td>@p.LastName</td>
                        </tr>
                    }
                </table>

            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
            <h3>All Players with the first name "Alexander" or "Wyatt"</h3>
                <table class="table table-striped">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    @foreach(var p in ViewBag.FirstNameAlexanderOrWyatt)
                    {
                        <tr>
                            <td>@p.FirstName</td>
                            <td>@p.LastName</td>
                        </tr>
                    }
                </table>

        </ol>
    </div>
</div>